<!doctype html>
<html lang="zh-cn" >
<meta charset="utf-8">
<title>成绩</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
<link href="../static/css/allStyle.css" type="text/css" rel="stylesheet">
<script src="../static/js/jquery.js"></script>
<script src="../static/origin/jquery-1.8.3.min.js"></script>
<link href="../static/origin/boots/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../static/css/allstyle.css" rel="stylesheet" type="text/css">
<style>
	body{
		background: url("../static/image/051e0b0bb4ce71b3b82ad1a52d323e09.jpg") no-repeat center;
		background-size: cover;
		min-height: 600px;
	}
</style>
<script type="text/javascript">
	$(function(){

		$.ajax({
	    	type: 'POST',
	     	url: "/getGrade" ,
	    	dataType: "json",
	    	success: function(result){
	    		$.ajax({
			    	type: 'GET',
			     	url: "/getMyGrade" ,
			    	dataType: "json",
			    	success: function(data){
			    		//console.log(data["result"][0])
			    		var text="";
			    		var optipn=""
			    		if(data["result"].length!=0){
			    			$.each(data["result"],function(i,val){
			    				
				    			text+="<tr><td>"+(i+1)+"</td><td>"+val["time"]+
				    				"</td><td>"+val["type"]+"</td><td>"+val["grade"]+
				    				"</td><td><a href='problem?id="+val["id"]+"'>查看错题</a></td></tr>"
				    			
				    		})
			    		}else{
			    			text="无历史成绩"
			    		}
			    		$("#table").append(text)
			    	}

				});
	    	}

		});
	})

</script>
<body>
<nav class="mynav">
  <div class="container-fluid container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="myleft" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		  <li><a href="home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="myGrade" target="_self">我的成绩</a></li>
		<li><a href="main" target="_self">单词测试</a></li>
		<li class="active"><a href="phrase" target="_self">短语测试</a></li>
		  <li><a href="confuse" target="_self">易混词辨析</a></li>
      </ul>
    </div>
	  <div class="myright">
		  <a href="/logout"><button type="button" class="btn mybtn"><span class="glyphicon glyphicon-off"> 退出</span></button></a>
	  </div>
  </div>
</nav>
<div class="container" style="margin-top:50px;">

	<div >
	
	</div>

	<table id="table" class="table table-bordered table-hover">
		<tr>
			<td>序号</td>
			<td>时间</td>
			<td>类型</td>
			<td>分数</td>
			<td>操作</td>
		</tr>
	<!-- {% for result in results %}
		<tr> 
			<td>{{result.time}}</td>
			<td>{{result.type}}</td>
			<td>{{result.score}}</td>
	   </tr>
	{% endfor %} -->
	</table>
<!-- <p>{{ results }} </p>
{% for result in results %}
    <p>{{ result.question }} </p>
    <p>{{ result.option }} </p>
    {% for option in result.option.split(",") %}
    	<p><input type='radio' name=''>{{ option }} </p>
    {% endfor %}
{% endfor %}
<hr /> -->
</div>
</body>
</html>