<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <br>
    <h2 align="center">GUESS</h2>
    <div style="text-align:center">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
                <p class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </p>
            {% endif %}
        {% endwith %}
    </div>
    {% block content %}
    {% endblock %}
    <!-- <form>
        <input type="text" placeholder="Text" name="text" />
        <input type="password" placeholder="password" name="password" />
        <textarea placeholder="Textarea" name="textarea" style="resize:none"></textarea>
        <input type="file" name="file" />
        <input type="radio" name="Opt" value="Option1" />Option1
        <input type="radio" name="Opt" value="Option2" />Option2
        <input tupe="checkbox" name="option" value="Option1" />Option1
        <input tupe="checkbox" name="option" value="Option2" />Option2
        <input type="submit" value="submit" />
        <input type="reset" value="Reset" />
        <input type="button" value="oo" />
    </form> -->
</body>
</html>
