<html>
<head></head>
<body>
    <br>
    <h2 align="center">猜数字</h2>
    <a >开始游戏</a>
    <!-- <form>
        <input type="text" placeholder="Text" name="text" />
        <input type="password" placeholder="password" name="password" />
        <textarea placeholder="Textarea" name="textarea" style="resize:none"></textarea>
        <input type="file" name="file" />
        <input type="radio" name="Opt" value="Option1" />Option1
        <input type="radio" name="Opt" value="Option2" />Option2
        <input tupe="checkbox" name="option" value="Option1" />Option1
        <input tupe="checkbox" name="option" value="Option2" />Option2
        <input type="submit" value="submit" />
        <input type="reset" value="Reset" />
        <input type="button" value="oo" />
    </form> -->
</body>
</html>
