<!--{% extends "bootstrap/base.html" %}-->

<!--{% block title %}Flasky{% end block %}-->

<!--{% block navbar %}-->
<!--<div class="navbar navbar-inverse" role="navigation">-->
    <!--<div class="container">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
              <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
              <!--</span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="/">Flasky</a>-->
        <!--</div>-->
        <!--<div class="navbar-collapse collapse">-->
            <!--<ul class="nav nav navbar-nav">-->
                <!--<li><a href="/">Home</a></li>-->
            <!--</ul>-->
        <!--</div>-->

    <!--</div>-->

<!--</div>-->
<!--{% end block %}-->

<!--{% block content %}-->
<!--<div class="container">-->
    <!--<div class="page-header">-->
        <!--<h1>Hello, {{name}}!</h1>-->
    <!--</div>-->
<!--</div>-->
<!--{% end block %}-->
<html>
<head></head>
<body>
    <form>
        <input type="text" placeholder="Text" name="text" />
        <input type="password" placeholder="password" name="password" />
        <textarea placeholder="Textarea" name="textarea" style="resize:none"></textarea>
        <input type="file" name="file" />
        <input type="radio" name="Opt" value="Option1" />Option1
        <input type="radio" name="Opt" value="Option2" />Option2
        <input tupe="checkbox" name="option" value="Option1" />Option1
        <input tupe="checkbox" name="option" value="Option2" />Option2
        <input type="submit" value="submit" />
        <input type="reset" value="Reset" />
        <input type="button" value="oo" />
    </form>
</body>
</html>
